@font-face {
    font-family: 'valorantFont';
    src: url('/assets/fonts/Valorant\ Font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'poppinsSemibold';
    src: url(/assets/fonts/Poppins-SemiBold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
  }