
* {
    box-sizing: border-box;
}
  
body {
    font-family: "valorantFont", sans-serif; 
    background-color: #DDDDDD; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    min-height: 100vh; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.bg {
    background-image: url(/assets/img/bg-valorant.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: fixed; /* Cobre toda a tela */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(1.5px);

}


h1 {
    font-size: 2.5rem; 
    color: #f34242; 
    text-align: center; 
    letter-spacing: 0.4rem;
    text-shadow: 2px 2px 2px #fff;
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
}

section input {
    width: 30rem; 
    border: none;
    padding: 1rem; 
    border-radius: 1.5rem;
    margin-bottom: 1rem; 
    color: #45474B; 
    font-size: 1rem; 
    box-sizing: border-box; 
    outline: none;
}

/* Estiliza os botões dentro das seções */
section button {
    padding: 0.8rem 1.2rem; 
    border: 0 solid; 
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    background-color: #eb1710;
    color: #F5F7F8; 
    font-size: 1rem; 
    cursor: pointer;
}

section button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}

.imagem-card {
    width: 25%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 0.6rem;
    border-bottom-left-radius: 0.6rem;
    margin-right: 1rem;
}

.resultados-pesquisa {
    width: 60rem; 
    height: 46vh; 
    overflow-y: none;
    margin-top: 1rem; 
    padding: 1rem; 
    border-radius: 0.6rem; 
    font-family: 'poppinsSemibold';
}

.item-resultado {
    width: 100%;
    background: #FFFFFF;
    border-radius: 0.6rem; 
    padding: 1rem; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    display: flex; 
    margin-top: -3rem; 
}

.item-resultado h2 {
    margin-top: auto;
    font-size: 1.5rem; 
    color: #222831; 
}

.item-resultado a {
    text-decoration: none; 
    color: #30475E;
}

.habilidadeClass {
    box-sizing: border-box;
}

.item-resultado a:hover {
    text-decoration: underline; /
}

.descricao-meta {
    color: #45474B; 
    margin: 0.5rem 0; 
}

.containerAgentes {
    color: red;
    flex-direction: row;
}


/* Estiliza o rodapé da página */
footer {
    background-color: #f8f6f50c;
    color: #fff; 
    text-align: center; 
    margin-bottom: -20rem;
    width: 100%;
    position: absolute;
    bottom: 0; 
    font-size: 1rem; 
    margin-top: auto;
}